<div class="row">
  <div class="pageHeader small-12 large-12 columns">
    <span class="pageTitle small-3"><h1>All Things</h1></span>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12">
      <table class="table table-striped small-12">
        <thead>
          <th>Thing name</th>
        </thead>
        <tbody>
        <% @things.each do |thing| %>
          <tr>
            <td><%= link_to thing.name, thing_path(thing.id) %></td>
              <td>
              <% if can? :edit, thing %>
                <%= link_to "Edit", edit_thing_path(thing.id), :class => 'button tiny secondary' %>
              <% end %>
                &nbsp;
              <% if can? :delete, thing %>
                <%= link_to "Delete", thing, data: { confirm: "Are you sure?"}, :method => :delete, :class => 'button alert tiny' %>
              <% end %>
              </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <% if can? :create, Thing %>
    <div class="pageHeader small-12 columns">
      <%= link_to 'New thing', new_thing_path, :class => 'button' %>
    </div>
  <% end %>
</div>
