<div class="row">
  <div class="pageHeader small-12 large-12 columns">
    <span class="pageTitle small-3"><h1>All Things</h1></span>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12">
      <table id="things-table" class="table table-striped small-12" data-source="<%= things_path(format: :json) %>">
        <thead>
          <th>Thing name</th>
          <th>Thing description</th>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <% if can? :create, Thing %>
    <div class="pageHeader small-12 columns">
      <%= link_to 'New thing', new_thing_path, :class => 'button' %>
    </div>
  <% end %>
</div>
