<div class="row">
  <div class="small-12 colums">
    <div class="panel callout small-6 small-centered columns">
      <h1>I'm a thing<h1>
      <h5><%= link_to 'All the things', things_path %></h5>
      <p>More things will go here.</p>
    </div>
  </div>
</div>